@model WebApplication1.Models.Stan

@{
    ViewBag.Title = "Obriši";
}

<h2>Brisanje</h2>

<h3>Da li ste sigurni da želite da obrišete?</h3>
<div>
    <h4>Stan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grad.NazivGrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grad.NazivGrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrstaStana.NazivVrste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrstaStana.NazivVrste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kvadratura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kvadratura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sprat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vlasnik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vlasnik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uknjizen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uknjizen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namesten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namesten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DodatnaOpremljenost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DodatnaOpremljenost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-primary" /> |
            @Html.ActionLink("Nazad", "Index", "StanController", new { @class = "btn btn-default" })
        </div>
    }
</div>
